{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h1> welcome to your dank new homepage </h1>

    <p>Pretty Snazzy eh? </p>
{% endblock %}
